@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --body-background: rgb(98, 132, 165);
  --selected-border-color: rgb(255, 228, 73);
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background);
}

header {
  position: relative;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

header h1 {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 3.5em;
  text-shadow: 5px 0 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.scoreTable {
  position: relative;
  top: -60px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 2.2em;
  color: #fff;
  text-shadow: 0 2px 5px #000;
}

.handsSection {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.hand {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid rgb(53, 71, 77);
  background-color: rgb(184, 205, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border .2s, transform .3s, box-shadow .1s;
}

.hovering {
  border: 5px solid var(--selected-border-color);
  transform: scale(1.1, 1.1);
  /* position: relative;
  bottom: 30px; */
}

.clicked {
  box-shadow: 1px 1px 10px 4px var(--selected-border-color);
}

.roundResult {
  font-family: 'Shadows Into Light', sans-serif; 
  font-size: 2em;
  height: 10px;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

footer {
  display: flex;
  background-color: rgb(135, 162, 192);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: .7em;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

footer a {
  color: rgb(0, 0, 0);
}